# Root Dependencies
node_modules/
.pnpm-store/
*.log

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Frontend (Vite + React)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env
frontend/.env.local

# Backend (Laravel)
backend/vendor/
backend/node_modules/
backend/public/storage
backend/public/hot
backend/storage/*.key
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/testing/
backend/storage/framework/views/
backend/bootstrap/cache/
backend/.env
backend/.env.backup

# Mobile (Flutter)
mobile/.dart_tool/
mobile/.idea/
mobile/.vscode/
mobile/build/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/ios/Runner.xcworkspace
mobile/ios/Flutter/App.framework
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/